*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.wrapper{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
div.container{
    background-color: rgb(199, 223, 227);
    position: relative;
}
div.button-square{
    position: absolute;
}
div.button-food{
    position: absolute;
}
#top{
    position: relative;
}
.button-food ul li{
    width: 30%;
    margin: 0 auto;
    list-style-type: none;
    display: inline-block;
}
.button ul li img{
    display: block;
    width: 100%;
}
h2{
    text-align: center;
}
.container{
    background-color: rgb(199, 223, 227);
    position: relative;
}
#content #ramen{
    background-color: rgb(199, 223, 227);
    position: relative;
    top: 400px;
}
#content #hitsumabushi{
    background-color: rgb(199, 223, 227);
    position: relative;
    top: 450px;
}
#content #kare{
    background-color: rgb(199, 223, 227);
    position: relative;
    top: 500px;
}
#bottom{
    position: relative;
    bottom: 0;
}