*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
#wrapper{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}
#top{
    background: url(img/background-button.png);
    max-height: 1060px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
}
.menu img{
    width: 32%;
}
.menu a:link{
    opacity: 100%;
}
.menu a:visited{
    opacity: 100%;
}
.menu a:hover{
    opacity: 90%;
}
.snow-button img{
    position: relative;
    bottom: 280px;
    margin: 0;
}
.menu-name{
    text-align: center;
}
.menu-name img{
    position: relative;
    text-align: center;
    bottom: 380px;
    margin: 0;
}
.highlight{
    background-color: rgb(229, 136, 17);
    padding: 2px;
}
.icon{
    size: 50%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
#menu01{
    background: url(img/background-ramen.png);
    background-repeat: no-repeat;
    max-width: 990px;
    min-height: 535px;
    margin: 0 auto;
}
#menu01 p{
    color: white;
    padding-left: 95px;
    padding-right: 95px;
    font-size: 22px;
}
#menu01 ul li{
    color: white;
    font-size: 22px;
    padding-left: 95px;
    padding-right: 95px;
    list-style-type: none;
}
#menu01 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 0px;
}
.snow01 img{
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 450px;
}
#menu02{
    background: url(img/background-hitsumabushi.png);
    background-repeat: no-repeat;
    max-width: 990px;
    min-height: 535px;
    margin: 0 auto;
}
#menu02 p{
    color: white;
    padding-left: 95px;
    padding-right: 95px;
    font-size: 22px;
}
#menu02 ul li{
    color: white;
    font-size: 22px;
    padding-left: 95px;
    padding-right: 95px;
    list-style-type: none;
}
#menu02 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 0px;
}
.snow02{
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 450px;
}
#menu03{
    background: url(img/background-kare.png);
    background-repeat: no-repeat;
    max-width: 990px;
    min-height: 535px;
    margin: 0 auto;
}
#menu03 p{
    color: white;
    padding-left: 95px;
    padding-right: 95px;
    font-size: 22px;
}
#menu03 ul li{
    color: white;
    font-size: 22px;
    padding-left: 95px;
    padding-right: 95px;
    list-style-type: none;
}
#menu03 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 0px;
}
.snow03{
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 450px;
}
#voucher{
    background: url(img/background-voucher.png);
    width: 100%;
    max-width: 990px;
    min-height: 500px;
}
#voucher img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
}
#access-note1{
    font-size: 35px;
    color: rgb(199, 223, 227);
    text-align: center;
}
#access-note2{
    font-size: 20px;
    color: rgb(199, 223, 227);
    text-align: center;
}
#bottom{
    background: url(img/background-access.png);
    width: 100%;
    max-width: 990;
    margin: 0 auto;
    min-height: 535px;
}
#bottom img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
}